--
-- PostgreSQL database dump
--

\restrict Ti5oyUkSeyVhBdQJtV0ml0Zgza20bWadnmINYfF0f7gv5nKXX2CMoqTfemg3FxG

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: control; Type: SCHEMA; Schema: -; Owner: ulwembu
--

CREATE SCHEMA control;


ALTER SCHEMA control OWNER TO ulwembu;

--
-- Name: demo_clinic; Type: SCHEMA; Schema: -; Owner: ulwembu
--

CREATE SCHEMA demo_clinic;


ALTER SCHEMA demo_clinic OWNER TO ulwembu;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA demo_clinic;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: platform_audit_log_reject_mutation(); Type: FUNCTION; Schema: control; Owner: ulwembu
--

CREATE FUNCTION control.platform_audit_log_reject_mutation() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    RAISE EXCEPTION
        'platform_audit_log is append-only: % operation is prohibited',
        TG_OP
        USING ERRCODE = '42501';

    RETURN NULL;
END;
$$;


ALTER FUNCTION control.platform_audit_log_reject_mutation() OWNER TO ulwembu;

--
-- Name: platform_audit_log_set_integrity_hash(); Type: FUNCTION; Schema: control; Owner: ulwembu
--

CREATE FUNCTION control.platform_audit_log_set_integrity_hash() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    prior_hash VARCHAR(64);
BEGIN
    PERFORM pg_advisory_xact_lock(hashtext(TG_TABLE_SCHEMA || '.' || TG_TABLE_NAME));

    SELECT entry_hash INTO prior_hash
    FROM control.platform_audit_log
    WHERE entry_hash IS NOT NULL
    ORDER BY chain_sequence DESC
    LIMIT 1;

    NEW.previous_hash := prior_hash;
    NEW.entry_hash := encode(digest(
        jsonb_build_object(
            'id', NEW.id,
            'chainSequence', NEW.chain_sequence,
            'previousHash', NEW.previous_hash,
            'platformOperatorId', NEW.platform_operator_id,
            'action', NEW.action,
            'organizationId', NEW.organization_id,
            'detail', NEW.detail,
            'ipAddress', NEW.ip_address,
            'deviceSignature', NEW.device_signature,
            'privileged', NEW.privileged,
            'createdAt', NEW.created_at
        )::text,
        'sha256'), 'hex');
    RETURN NEW;
END;
$$;


ALTER FUNCTION control.platform_audit_log_set_integrity_hash() OWNER TO ulwembu;

--
-- Name: audit_log_before_insert(); Type: FUNCTION; Schema: demo_clinic; Owner: ulwembu
--

CREATE FUNCTION demo_clinic.audit_log_before_insert() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    previous VARCHAR(64);
BEGIN
    PERFORM pg_advisory_xact_lock(
        hashtextextended('audit_log_integrity_chain', 0)
    );

    SELECT integrity_hash
    INTO previous
    FROM audit_log
    ORDER BY audit_sequence DESC
    LIMIT 1;

    if previous IS NULL THEN
        previous := repeat('0', 64);
    END IF;

    NEW.previous_hash := previous;

    NEW.integrity_hash := audit_log_calculate_hash(
        NEW.id,
        NEW.user_id,
        NEW.facility_id,
        NEW.action,
        NEW.entity_type,
        NEW.entity_id,
        NEW.before_value,
        NEW.after_value,
        NEW.ip_address,
        NEW.created_at,
        NEW.device_signature,
        NEW.privileged,
        NEW.audit_sequence,
        NEW.previous_hash
    );

    RETURN NEW;
END;
$$;


ALTER FUNCTION demo_clinic.audit_log_before_insert() OWNER TO ulwembu;

--
-- Name: audit_log_calculate_hash(uuid, uuid, uuid, character varying, character varying, character varying, jsonb, jsonb, character varying, timestamp with time zone, character varying, boolean, bigint, character varying); Type: FUNCTION; Schema: demo_clinic; Owner: ulwembu
--

CREATE FUNCTION demo_clinic.audit_log_calculate_hash(p_id uuid, p_user_id uuid, p_facility_id uuid, p_action character varying, p_entity_type character varying, p_entity_id character varying, p_before_value jsonb, p_after_value jsonb, p_ip_address character varying, p_created_at timestamp with time zone, p_device_signature character varying, p_privileged boolean, p_audit_sequence bigint, p_previous_hash character varying) RETURNS character varying
    LANGUAGE sql IMMUTABLE
    AS $$
    SELECT encode(
        digest(
            concat_ws(
                '|',
                COALESCE(p_id::text, ''),
                COALESCE(p_user_id::text, ''),
                COALESCE(p_facility_id::text, ''),
                COALESCE(p_action, ''),
                COALESCE(p_entity_type, ''),
                COALESCE(p_entity_id, ''),
                COALESCE(p_before_value::text, ''),
                COALESCE(p_after_value::text, ''),
                COALESCE(p_ip_address, ''),
                COALESCE(p_created_at::text, ''),
                COALESCE(p_device_signature, ''),
                COALESCE(p_privileged::text, ''),
                COALESCE(p_audit_sequence::text, ''),
                COALESCE(p_previous_hash, '')
            ),
            'sha256'
        ),
        'hex'
    );
$$;


ALTER FUNCTION demo_clinic.audit_log_calculate_hash(p_id uuid, p_user_id uuid, p_facility_id uuid, p_action character varying, p_entity_type character varying, p_entity_id character varying, p_before_value jsonb, p_after_value jsonb, p_ip_address character varying, p_created_at timestamp with time zone, p_device_signature character varying, p_privileged boolean, p_audit_sequence bigint, p_previous_hash character varying) OWNER TO ulwembu;

--
-- Name: audit_log_reject_mutation(); Type: FUNCTION; Schema: demo_clinic; Owner: ulwembu
--

CREATE FUNCTION demo_clinic.audit_log_reject_mutation() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    RAISE EXCEPTION
        'audit_log is append-only: % operation is prohibited',
        TG_OP
        USING ERRCODE = '42501';

    RETURN NULL;
END;
$$;


ALTER FUNCTION demo_clinic.audit_log_reject_mutation() OWNER TO ulwembu;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: control; Owner: ulwembu
--

CREATE TABLE control.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE control.flyway_schema_history OWNER TO ulwembu;

--
-- Name: module_entitlements; Type: TABLE; Schema: control; Owner: ulwembu
--

CREATE TABLE control.module_entitlements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    organization_id uuid NOT NULL,
    module_code character varying(10) NOT NULL,
    enabled boolean DEFAULT false NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE control.module_entitlements OWNER TO ulwembu;

--
-- Name: organizations; Type: TABLE; Schema: control; Owner: ulwembu
--

CREATE TABLE control.organizations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    slug character varying(63) NOT NULL,
    schema_name character varying(63) NOT NULL,
    display_name character varying(200) NOT NULL,
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    branding jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    sector character varying(20) DEFAULT 'PRIVATE'::character varying NOT NULL,
    tenant_code character varying(10) NOT NULL,
    mail_settings jsonb DEFAULT '{}'::jsonb NOT NULL,
    profile jsonb DEFAULT '{}'::jsonb NOT NULL,
    sso_settings jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE control.organizations OWNER TO ulwembu;

--
-- Name: platform_audit_log; Type: TABLE; Schema: control; Owner: ulwembu
--

CREATE TABLE control.platform_audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    platform_operator_id uuid,
    action character varying(100) NOT NULL,
    organization_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    detail character varying(500),
    ip_address character varying(45),
    device_signature character varying(500),
    privileged boolean DEFAULT true NOT NULL
);


ALTER TABLE control.platform_audit_log OWNER TO ulwembu;

--
-- Name: platform_operators; Type: TABLE; Schema: control; Owner: ulwembu
--

CREATE TABLE control.platform_operators (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(200) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    password_hash character varying(100) NOT NULL,
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    failed_login_count integer DEFAULT 0 NOT NULL,
    last_failed_login_at timestamp with time zone,
    locked_at timestamp with time zone,
    token_version integer DEFAULT 0 NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    email_verified_at timestamp with time zone,
    CONSTRAINT platform_operators_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'LOCKED'::character varying, 'DISABLED'::character varying])::text[])))
);


ALTER TABLE control.platform_operators OWNER TO ulwembu;

--
-- Name: platform_password_reset_tokens; Type: TABLE; Schema: control; Owner: ulwembu
--

CREATE TABLE control.platform_password_reset_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    operator_id uuid NOT NULL,
    token_hash character varying(100) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    consumed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE control.platform_password_reset_tokens OWNER TO ulwembu;

--
-- Name: audit_log; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.audit_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    facility_id uuid,
    action character varying(100) NOT NULL,
    entity_type character varying(100) NOT NULL,
    entity_id character varying(100) NOT NULL,
    before_value jsonb,
    after_value jsonb,
    ip_address character varying(45),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    device_signature character varying(500),
    privileged boolean DEFAULT false NOT NULL,
    audit_sequence bigint NOT NULL,
    previous_hash character varying(64) NOT NULL,
    integrity_hash character varying(64) NOT NULL
);


ALTER TABLE demo_clinic.audit_log OWNER TO ulwembu;

--
-- Name: audit_log_audit_sequence_seq; Type: SEQUENCE; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE demo_clinic.audit_log ALTER COLUMN audit_sequence ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME demo_clinic.audit_log_audit_sequence_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dispensing_records; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.dispensing_records (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    prescription_id uuid NOT NULL,
    dispensed_by_user_id uuid NOT NULL,
    dispensed_at timestamp with time zone DEFAULT now() NOT NULL,
    patient_id uuid NOT NULL,
    patient_mpi character varying(20) NOT NULL
);


ALTER TABLE demo_clinic.dispensing_records OWNER TO ulwembu;

--
-- Name: facilities; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.facilities (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(200) NOT NULL,
    code character varying(20) NOT NULL,
    type character varying(20) NOT NULL,
    address character varying(300),
    phone character varying(20),
    timezone character varying(50) DEFAULT 'Africa/Johannesburg'::character varying NOT NULL,
    active boolean DEFAULT true NOT NULL,
    operating_hours character varying(200),
    CONSTRAINT facilities_type_check CHECK (((type)::text = ANY ((ARRAY['CLINIC'::character varying, 'HOSPITAL'::character varying, 'STORE'::character varying])::text[])))
);


ALTER TABLE demo_clinic.facilities OWNER TO ulwembu;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE demo_clinic.flyway_schema_history OWNER TO ulwembu;

--
-- Name: manual_verification_cases; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.manual_verification_cases (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    prescription_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    reason character varying(300) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE demo_clinic.manual_verification_cases OWNER TO ulwembu;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.password_reset_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    code_hash character varying(100) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    attempt_count integer DEFAULT 0 NOT NULL,
    consumed_at timestamp with time zone,
    requested_ip character varying(45),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE demo_clinic.password_reset_tokens OWNER TO ulwembu;

--
-- Name: patient_mpi_seq; Type: SEQUENCE; Schema: demo_clinic; Owner: ulwembu
--

CREATE SEQUENCE demo_clinic.patient_mpi_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE demo_clinic.patient_mpi_seq OWNER TO ulwembu;

--
-- Name: patient_next_of_kin; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.patient_next_of_kin (
    patient_id uuid NOT NULL,
    name character varying(200) NOT NULL,
    relationship character varying(100) NOT NULL,
    contact_number character varying(20) NOT NULL
);


ALTER TABLE demo_clinic.patient_next_of_kin OWNER TO ulwembu;

--
-- Name: patients; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.patients (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    mpi_number character varying(20) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    date_of_birth date NOT NULL,
    gender character varying(10) NOT NULL,
    citizenship_status character varying(20) NOT NULL,
    id_number character varying(13),
    address character varying(500) NOT NULL,
    contact_number character varying(20) NOT NULL,
    medical_aid_provider character varying(100),
    medical_aid_number character varying(50),
    registered_by_user_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    deceased boolean DEFAULT false NOT NULL,
    date_of_death date,
    archived_at timestamp with time zone,
    archived_by_user_id uuid,
    passport_number character varying(20),
    CONSTRAINT patients_identity_present CHECK (((id_number IS NOT NULL) OR (passport_number IS NOT NULL)))
);


ALTER TABLE demo_clinic.patients OWNER TO ulwembu;

--
-- Name: permissions; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code character varying(100) NOT NULL
);


ALTER TABLE demo_clinic.permissions OWNER TO ulwembu;

--
-- Name: prescription_items; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.prescription_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    prescription_id uuid NOT NULL,
    drug_name character varying(200) NOT NULL,
    dosage character varying(100) NOT NULL,
    quantity integer NOT NULL
);


ALTER TABLE demo_clinic.prescription_items OWNER TO ulwembu;

--
-- Name: prescription_serial_seq; Type: SEQUENCE; Schema: demo_clinic; Owner: ulwembu
--

CREATE SEQUENCE demo_clinic.prescription_serial_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE demo_clinic.prescription_serial_seq OWNER TO ulwembu;

--
-- Name: prescriptions; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.prescriptions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    serial_number character varying(20) NOT NULL,
    visit_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    facility_id uuid NOT NULL,
    prescriber_id uuid NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE demo_clinic.prescriptions OWNER TO ulwembu;

--
-- Name: queue_tokens; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.queue_tokens (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    visit_id uuid NOT NULL,
    facility_id uuid NOT NULL,
    token_number integer NOT NULL,
    priority character varying(20) DEFAULT 'NORMAL'::character varying NOT NULL,
    status character varying(20) DEFAULT 'ISSUED'::character varying NOT NULL,
    is_manual boolean DEFAULT false NOT NULL,
    issued_at timestamp with time zone DEFAULT now() NOT NULL,
    called_at timestamp with time zone,
    issued_by_user_id uuid
);


ALTER TABLE demo_clinic.queue_tokens OWNER TO ulwembu;

--
-- Name: role_permissions; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.role_permissions (
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL
);


ALTER TABLE demo_clinic.role_permissions OWNER TO ulwembu;

--
-- Name: roles; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE demo_clinic.roles OWNER TO ulwembu;

--
-- Name: stock_batches; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.stock_batches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    drug_name character varying(200) NOT NULL,
    batch_number character varying(100) NOT NULL,
    barcode character varying(150) NOT NULL,
    expiry_date date NOT NULL,
    quantity_on_hand integer NOT NULL,
    reorder_level integer DEFAULT 0 NOT NULL,
    CONSTRAINT stock_batches_expiry_not_blank CHECK ((length(TRIM(BOTH FROM barcode)) > 0)),
    CONSTRAINT stock_batches_quantity_on_hand_check CHECK ((quantity_on_hand >= 0)),
    CONSTRAINT stock_batches_reorder_level_check CHECK ((reorder_level >= 0))
);


ALTER TABLE demo_clinic.stock_batches OWNER TO ulwembu;

--
-- Name: stock_movement_ledger; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.stock_movement_ledger (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    facility_id uuid NOT NULL,
    stock_batch_id uuid NOT NULL,
    drug_name character varying(200) NOT NULL,
    movement_type character varying(30) NOT NULL,
    quantity integer NOT NULL,
    quantity_before integer NOT NULL,
    quantity_after integer NOT NULL,
    performed_by_user_id uuid NOT NULL,
    reason character varying(500),
    prescription_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT stock_movement_ledger_quantity_after_check CHECK ((quantity_after >= 0)),
    CONSTRAINT stock_movement_ledger_quantity_before_check CHECK ((quantity_before >= 0)),
    CONSTRAINT stock_movement_ledger_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT stock_movement_ledger_type_check CHECK (((movement_type)::text = ANY ((ARRAY['RECEIPT'::character varying, 'DISPENSE'::character varying, 'WRITE_OFF'::character varying, 'ADJUSTMENT'::character varying, 'TRANSFER_OUT'::character varying, 'TRANSFER_IN'::character varying])::text[])))
);


ALTER TABLE demo_clinic.stock_movement_ledger OWNER TO ulwembu;

--
-- Name: stock_movements; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.stock_movements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    prescription_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    patient_mpi character varying(20) NOT NULL,
    drug_name character varying(200) NOT NULL,
    quantity integer NOT NULL,
    moved_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT stock_movements_quantity_check CHECK ((quantity > 0))
);


ALTER TABLE demo_clinic.stock_movements OWNER TO ulwembu;

--
-- Name: triage_assessments; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.triage_assessments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    visit_id uuid NOT NULL,
    patient_id uuid NOT NULL,
    systolic_bp integer NOT NULL,
    diastolic_bp integer NOT NULL,
    heart_rate integer NOT NULL,
    temperature_celsius numeric(4,1) NOT NULL,
    respiratory_rate integer NOT NULL,
    avpu character varying(20) NOT NULL,
    captured_at timestamp with time zone NOT NULL,
    captured_by_user_id uuid NOT NULL
);


ALTER TABLE demo_clinic.triage_assessments OWNER TO ulwembu;

--
-- Name: user_compliance_details; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.user_compliance_details (
    user_id uuid NOT NULL,
    race character varying(30),
    disability_status character varying(20),
    background_check_date date,
    background_check_status character varying(20),
    occupational_health_clearance_date date,
    CONSTRAINT user_compliance_details_background_check_status_check CHECK (((background_check_status)::text = ANY ((ARRAY['PENDING'::character varying, 'CLEARED'::character varying, 'FLAGGED'::character varying])::text[]))),
    CONSTRAINT user_compliance_details_disability_status_check CHECK (((disability_status)::text = ANY ((ARRAY['NONE'::character varying, 'DISABLED'::character varying, 'PREFER_NOT_TO_SAY'::character varying])::text[]))),
    CONSTRAINT user_compliance_details_race_check CHECK (((race)::text = ANY ((ARRAY['AFRICAN'::character varying, 'COLOURED'::character varying, 'INDIAN'::character varying, 'WHITE'::character varying, 'OTHER'::character varying, 'PREFER_NOT_TO_SAY'::character varying])::text[])))
);


ALTER TABLE demo_clinic.user_compliance_details OWNER TO ulwembu;

--
-- Name: user_facilities; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.user_facilities (
    user_id uuid NOT NULL,
    facility_id uuid NOT NULL
);


ALTER TABLE demo_clinic.user_facilities OWNER TO ulwembu;

--
-- Name: user_roles; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.user_roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    role_id uuid NOT NULL,
    facility_id uuid
);


ALTER TABLE demo_clinic.user_roles OWNER TO ulwembu;

--
-- Name: users; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    employee_number character varying(30) NOT NULL,
    id_number character varying(13),
    email character varying(200) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    contact_number character varying(20) NOT NULL,
    password_hash character varying(100) NOT NULL,
    facility_id uuid,
    employment_start_date date,
    manager_id uuid,
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    failed_login_count integer DEFAULT 0 NOT NULL,
    token_version integer DEFAULT 0 NOT NULL,
    last_login_at timestamp with time zone,
    must_change_password boolean DEFAULT true NOT NULL,
    department character varying(100),
    designation character varying(100),
    date_of_birth date,
    gender character varying(10),
    sanc_number character varying(30),
    hpcsa_number character varying(30),
    sapc_number character varying(30),
    email_verified_at timestamp with time zone,
    contact_verified_at timestamp with time zone,
    last_failed_login_at timestamp with time zone,
    locked_at timestamp with time zone,
    profile_photo_url character varying(500),
    employment_type character varying(30),
    employment_end_date date,
    sanc_expiry_date date,
    hpcsa_expiry_date date,
    sapc_expiry_date date,
    emergency_contact_name character varying(200),
    emergency_contact_relationship character varying(50),
    emergency_contact_phone character varying(20),
    CONSTRAINT users_check CHECK ((manager_id <> id)),
    CONSTRAINT users_employment_type_check CHECK (((employment_type)::text = ANY ((ARRAY['PERMANENT'::character varying, 'CONTRACT'::character varying, 'INTERN'::character varying, 'COMMUNITY_SERVICE'::character varying, 'EXTENDED_PUBLIC_WORKS'::character varying, 'SECONDED'::character varying])::text[]))),
    CONSTRAINT users_gender_check CHECK (((gender)::text = ANY ((ARRAY['MALE'::character varying, 'FEMALE'::character varying, 'OTHER'::character varying])::text[]))),
    CONSTRAINT users_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'LOCKED'::character varying, 'DISABLED'::character varying])::text[])))
);


ALTER TABLE demo_clinic.users OWNER TO ulwembu;

--
-- Name: visits; Type: TABLE; Schema: demo_clinic; Owner: ulwembu
--

CREATE TABLE demo_clinic.visits (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    patient_id uuid NOT NULL,
    facility_id uuid NOT NULL,
    visit_type character varying(20) NOT NULL,
    service_stream character varying(30) NOT NULL,
    visit_datetime timestamp with time zone NOT NULL,
    created_by_user_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE demo_clinic.visits OWNER TO ulwembu;

--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: control; Owner: ulwembu
--



--
-- Data for Name: module_entitlements; Type: TABLE DATA; Schema: control; Owner: ulwembu
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: control; Owner: ulwembu
--

COPY control.organizations (id, slug, schema_name, display_name, status, branding, created_at, sector, tenant_code, mail_settings, profile, sso_settings) FROM stdin;
02637775-cd0d-49c7-856c-dab29870fcae	demo-clinic	demo_clinic	Demo Community Clinic	ACTIVE	{"logoUrl": null, "shortName": null, "primaryColor": null}	2026-09-17 13:23:07.222286+00	PUBLIC	DC	{}	{}	{}
\.


--
-- Data for Name: platform_audit_log; Type: TABLE DATA; Schema: control; Owner: ulwembu
--



--
-- Data for Name: platform_operators; Type: TABLE DATA; Schema: control; Owner: ulwembu
--

COPY control.platform_operators (id, email, first_name, last_name, password_hash, status, failed_login_count, last_failed_login_at, locked_at, token_version, last_login_at, created_at, email_verified_at) FROM stdin;
e95b6ab0-692b-4877-9466-290faa7ae844	ops@ulwembu.example	Platform	Operator	$2a$12$VKbQz.NUpBXEsTHVXNmsfuzEchcrV6m4aCeINLsrowMwKNbfW60j.	ACTIVE	0	\N	\N	0	2026-09-25 07:20:42.310006+00	2026-09-17 13:23:07.159333+00	2026-09-17 13:23:07.159331+00
\.


--
-- Data for Name: platform_password_reset_tokens; Type: TABLE DATA; Schema: control; Owner: ulwembu
--

COPY control.platform_password_reset_tokens (id, operator_id, token_hash, expires_at, consumed_at, created_at) FROM stdin;
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--



--
-- Data for Name: dispensing_records; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.dispensing_records (id, prescription_id, dispensed_by_user_id, dispensed_at, patient_id, patient_mpi) FROM stdin;
\.


--
-- Data for Name: facilities; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.facilities (id, name, code, type, address, phone, timezone, active, operating_hours) FROM stdin;
1d92d44d-fbfc-4922-90d0-06e360aa3e18	Demo Main Clinic	DEMO-01	CLINIC	12 Cradle Street, Johannesburg	+27115550101	Africa/Johannesburg	t	Mon-Fri 07:00-17:00
f4711a3d-014d-4497-89e6-86dd5d0a3174	Demo Satellite Clinic	DEMO-02	CLINIC	44 Baobab Avenue, Soweto	+27115550102	Africa/Johannesburg	t	Mon-Fri 08:00-16:00
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--



--
-- Data for Name: manual_verification_cases; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.manual_verification_cases (id, prescription_id, patient_id, reason, created_at) FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--



--
-- Data for Name: patient_next_of_kin; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.patient_next_of_kin (patient_id, name, relationship, contact_number) FROM stdin;
\.


--
-- Data for Name: patients; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--



--
-- Data for Name: prescription_items; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.prescription_items (id, prescription_id, drug_name, dosage, quantity) FROM stdin;
\.


--
-- Data for Name: prescriptions; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.prescriptions (id, serial_number, visit_id, patient_id, facility_id, prescriber_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: queue_tokens; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.queue_tokens (id, visit_id, facility_id, token_number, priority, status, is_manual, issued_at, called_at, issued_by_user_id) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--



--
-- Data for Name: stock_batches; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.stock_batches (id, facility_id, drug_name, batch_number, barcode, expiry_date, quantity_on_hand, reorder_level) FROM stdin;
\.


--
-- Data for Name: stock_movement_ledger; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.stock_movement_ledger (id, facility_id, stock_batch_id, drug_name, movement_type, quantity, quantity_before, quantity_after, performed_by_user_id, reason, prescription_id, created_at) FROM stdin;
\.


--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.stock_movements (id, prescription_id, patient_id, patient_mpi, drug_name, quantity, moved_at) FROM stdin;
\.


--
-- Data for Name: triage_assessments; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.triage_assessments (id, visit_id, patient_id, systolic_bp, diastolic_bp, heart_rate, temperature_celsius, respiratory_rate, avpu, captured_at, captured_by_user_id) FROM stdin;
\.


--
-- Data for Name: user_compliance_details; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.user_compliance_details (user_id, race, disability_status, background_check_date, background_check_status, occupational_health_clearance_date) FROM stdin;
\.


--
-- Data for Name: user_facilities; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.user_facilities (user_id, facility_id) FROM stdin;
d2012593-1098-444b-8782-908ba3a89e68	1d92d44d-fbfc-4922-90d0-06e360aa3e18
7a5e34a5-9d88-4112-8869-0645045f4d85	1d92d44d-fbfc-4922-90d0-06e360aa3e18
191d7f97-c4b6-4c3b-b27f-0fb4ef9b0f0f	1d92d44d-fbfc-4922-90d0-06e360aa3e18
fc5ef005-c191-4b22-bdf9-35a6c3207c6a	1d92d44d-fbfc-4922-90d0-06e360aa3e18
5a4b71e7-25a8-4444-abe3-0b09efa2281f	1d92d44d-fbfc-4922-90d0-06e360aa3e18
4b630e24-9b99-4863-97e1-ea684a434682	f4711a3d-014d-4497-89e6-86dd5d0a3174
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--



--
-- Data for Name: visits; Type: TABLE DATA; Schema: demo_clinic; Owner: ulwembu
--

COPY demo_clinic.visits (id, patient_id, facility_id, visit_type, service_stream, visit_datetime, created_by_user_id, created_at) FROM stdin;
\.


--
-- Name: audit_log_audit_sequence_seq; Type: SEQUENCE SET; Schema: demo_clinic; Owner: ulwembu
--

SELECT pg_catalog.setval('demo_clinic.audit_log_audit_sequence_seq', 29, true);


--
-- Name: patient_mpi_seq; Type: SEQUENCE SET; Schema: demo_clinic; Owner: ulwembu
--

SELECT pg_catalog.setval('demo_clinic.patient_mpi_seq', 3, true);


--
-- Name: prescription_serial_seq; Type: SEQUENCE SET; Schema: demo_clinic; Owner: ulwembu
--

SELECT pg_catalog.setval('demo_clinic.prescription_serial_seq', 1, false);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: module_entitlements module_entitlements_organization_id_module_code_key; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.module_entitlements
    ADD CONSTRAINT module_entitlements_organization_id_module_code_key UNIQUE (organization_id, module_code);


--
-- Name: module_entitlements module_entitlements_pkey; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.module_entitlements
    ADD CONSTRAINT module_entitlements_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_schema_name_key; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.organizations
    ADD CONSTRAINT organizations_schema_name_key UNIQUE (schema_name);


--
-- Name: organizations organizations_slug_key; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.organizations
    ADD CONSTRAINT organizations_slug_key UNIQUE (slug);


--
-- Name: platform_audit_log platform_audit_log_pkey; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.platform_audit_log
    ADD CONSTRAINT platform_audit_log_pkey PRIMARY KEY (id);


--
-- Name: platform_operators platform_operators_email_key; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.platform_operators
    ADD CONSTRAINT platform_operators_email_key UNIQUE (email);


--
-- Name: platform_operators platform_operators_pkey; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.platform_operators
    ADD CONSTRAINT platform_operators_pkey PRIMARY KEY (id);


--
-- Name: platform_password_reset_tokens platform_password_reset_tokens_pkey; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.platform_password_reset_tokens
    ADD CONSTRAINT platform_password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: organizations uq_organizations_tenant_code; Type: CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.organizations
    ADD CONSTRAINT uq_organizations_tenant_code UNIQUE (tenant_code);


--
-- Name: audit_log audit_log_audit_sequence_unique; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.audit_log
    ADD CONSTRAINT audit_log_audit_sequence_unique UNIQUE (audit_sequence);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: dispensing_records dispensing_records_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.dispensing_records
    ADD CONSTRAINT dispensing_records_pkey PRIMARY KEY (id);


--
-- Name: dispensing_records dispensing_records_prescription_id_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.dispensing_records
    ADD CONSTRAINT dispensing_records_prescription_id_key UNIQUE (prescription_id);


--
-- Name: facilities facilities_code_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.facilities
    ADD CONSTRAINT facilities_code_key UNIQUE (code);


--
-- Name: facilities facilities_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.facilities
    ADD CONSTRAINT facilities_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: manual_verification_cases manual_verification_cases_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.manual_verification_cases
    ADD CONSTRAINT manual_verification_cases_pkey PRIMARY KEY (id);


--
-- Name: manual_verification_cases manual_verification_cases_prescription_id_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.manual_verification_cases
    ADD CONSTRAINT manual_verification_cases_prescription_id_key UNIQUE (prescription_id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: patients patients_id_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.patients
    ADD CONSTRAINT patients_id_number_key UNIQUE (id_number);


--
-- Name: patients patients_mpi_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.patients
    ADD CONSTRAINT patients_mpi_number_key UNIQUE (mpi_number);


--
-- Name: patients patients_passport_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.patients
    ADD CONSTRAINT patients_passport_number_key UNIQUE (passport_number);


--
-- Name: patients patients_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.patients
    ADD CONSTRAINT patients_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_code_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.permissions
    ADD CONSTRAINT permissions_code_key UNIQUE (code);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: prescription_items prescription_items_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.prescription_items
    ADD CONSTRAINT prescription_items_pkey PRIMARY KEY (id);


--
-- Name: prescriptions prescriptions_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.prescriptions
    ADD CONSTRAINT prescriptions_pkey PRIMARY KEY (id);


--
-- Name: prescriptions prescriptions_serial_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.prescriptions
    ADD CONSTRAINT prescriptions_serial_number_key UNIQUE (serial_number);


--
-- Name: queue_tokens queue_tokens_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.queue_tokens
    ADD CONSTRAINT queue_tokens_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: stock_batches stock_batches_barcode_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_batches
    ADD CONSTRAINT stock_batches_barcode_key UNIQUE (barcode);


--
-- Name: stock_batches stock_batches_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_batches
    ADD CONSTRAINT stock_batches_pkey PRIMARY KEY (id);


--
-- Name: stock_movement_ledger stock_movement_ledger_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_movement_ledger
    ADD CONSTRAINT stock_movement_ledger_pkey PRIMARY KEY (id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: triage_assessments triage_assessments_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.triage_assessments
    ADD CONSTRAINT triage_assessments_pkey PRIMARY KEY (id);


--
-- Name: user_compliance_details user_compliance_details_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.user_compliance_details
    ADD CONSTRAINT user_compliance_details_pkey PRIMARY KEY (user_id);


--
-- Name: user_facilities user_facilities_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.user_facilities
    ADD CONSTRAINT user_facilities_pkey PRIMARY KEY (user_id, facility_id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: users users_contact_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_contact_number_key UNIQUE (contact_number);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_employee_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_employee_number_key UNIQUE (employee_number);


--
-- Name: users users_hpcsa_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_hpcsa_number_key UNIQUE (hpcsa_number);


--
-- Name: users users_id_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_id_number_key UNIQUE (id_number);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_sanc_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_sanc_number_key UNIQUE (sanc_number);


--
-- Name: users users_sapc_number_key; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_sapc_number_key UNIQUE (sapc_number);


--
-- Name: visits visits_pkey; Type: CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.visits
    ADD CONSTRAINT visits_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: control; Owner: ulwembu
--

CREATE INDEX flyway_schema_history_s_idx ON control.flyway_schema_history USING btree (success);


--
-- Name: idx_platform_audit_created_at; Type: INDEX; Schema: control; Owner: ulwembu
--

CREATE INDEX idx_platform_audit_created_at ON control.platform_audit_log USING btree (created_at DESC);


--
-- Name: idx_platform_audit_filters; Type: INDEX; Schema: control; Owner: ulwembu
--

CREATE INDEX idx_platform_audit_filters ON control.platform_audit_log USING btree (action, organization_id, created_at DESC);


--
-- Name: idx_platform_audit_privileged; Type: INDEX; Schema: control; Owner: ulwembu
--

CREATE INDEX idx_platform_audit_privileged ON control.platform_audit_log USING btree (privileged);


--
-- Name: idx_platform_password_reset_tokens_operator; Type: INDEX; Schema: control; Owner: ulwembu
--

CREATE INDEX idx_platform_password_reset_tokens_operator ON control.platform_password_reset_tokens USING btree (operator_id, created_at DESC) WHERE (consumed_at IS NULL);


--
-- Name: audit_log_entity; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX audit_log_entity ON demo_clinic.audit_log USING btree (entity_type, entity_id);


--
-- Name: audit_log_user_id; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX audit_log_user_id ON demo_clinic.audit_log USING btree (user_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX flyway_schema_history_s_idx ON demo_clinic.flyway_schema_history USING btree (success);


--
-- Name: idx_audit_log_action; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_audit_log_action ON demo_clinic.audit_log USING btree (action);


--
-- Name: idx_audit_log_created_at; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_audit_log_created_at ON demo_clinic.audit_log USING btree (created_at DESC);


--
-- Name: idx_dispensing_records_patient; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_dispensing_records_patient ON demo_clinic.dispensing_records USING btree (patient_id);


--
-- Name: idx_manual_verification_cases_created_at; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_manual_verification_cases_created_at ON demo_clinic.manual_verification_cases USING btree (created_at);


--
-- Name: idx_patients_deceased; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_patients_deceased ON demo_clinic.patients USING btree (deceased);


--
-- Name: idx_patients_name; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_patients_name ON demo_clinic.patients USING btree (lower((first_name)::text), lower((last_name)::text));


--
-- Name: idx_prescription_items_prescription; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_prescription_items_prescription ON demo_clinic.prescription_items USING btree (prescription_id);


--
-- Name: idx_prescriptions_facility_status; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_prescriptions_facility_status ON demo_clinic.prescriptions USING btree (facility_id, status);


--
-- Name: idx_queue_tokens_facility_issued; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_queue_tokens_facility_issued ON demo_clinic.queue_tokens USING btree (facility_id, issued_at);


--
-- Name: idx_queue_tokens_facility_status; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_queue_tokens_facility_status ON demo_clinic.queue_tokens USING btree (facility_id, status);


--
-- Name: idx_stock_batches_expiry; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_stock_batches_expiry ON demo_clinic.stock_batches USING btree (facility_id, expiry_date) WHERE (quantity_on_hand > 0);


--
-- Name: idx_stock_batches_reorder; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_stock_batches_reorder ON demo_clinic.stock_batches USING btree (facility_id, drug_name, quantity_on_hand, reorder_level);


--
-- Name: idx_stock_movement_ledger_batch_created; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_stock_movement_ledger_batch_created ON demo_clinic.stock_movement_ledger USING btree (stock_batch_id, created_at DESC);


--
-- Name: idx_stock_movement_ledger_drug; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_stock_movement_ledger_drug ON demo_clinic.stock_movement_ledger USING btree (facility_id, drug_name);


--
-- Name: idx_stock_movement_ledger_facility_created; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_stock_movement_ledger_facility_created ON demo_clinic.stock_movement_ledger USING btree (facility_id, created_at DESC);


--
-- Name: idx_stock_movement_ledger_prescription; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_stock_movement_ledger_prescription ON demo_clinic.stock_movement_ledger USING btree (prescription_id) WHERE (prescription_id IS NOT NULL);


--
-- Name: idx_stock_movements_patient; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_stock_movements_patient ON demo_clinic.stock_movements USING btree (patient_id);


--
-- Name: idx_stock_movements_prescription; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_stock_movements_prescription ON demo_clinic.stock_movements USING btree (prescription_id);


--
-- Name: idx_triage_assessments_patient_captured_at; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_triage_assessments_patient_captured_at ON demo_clinic.triage_assessments USING btree (patient_id, captured_at DESC);


--
-- Name: idx_visits_patient; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX idx_visits_patient ON demo_clinic.visits USING btree (patient_id);


--
-- Name: password_reset_tokens_user_id; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE INDEX password_reset_tokens_user_id ON demo_clinic.password_reset_tokens USING btree (user_id);


--
-- Name: user_roles_unique_all_facilities; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE UNIQUE INDEX user_roles_unique_all_facilities ON demo_clinic.user_roles USING btree (user_id, role_id) WHERE (facility_id IS NULL);


--
-- Name: user_roles_unique_per_facility; Type: INDEX; Schema: demo_clinic; Owner: ulwembu
--

CREATE UNIQUE INDEX user_roles_unique_per_facility ON demo_clinic.user_roles USING btree (user_id, role_id, facility_id) WHERE (facility_id IS NOT NULL);


--
-- Name: platform_audit_log platform_audit_log_reject_truncate_trigger; Type: TRIGGER; Schema: control; Owner: ulwembu
--

CREATE TRIGGER platform_audit_log_reject_truncate_trigger BEFORE TRUNCATE ON control.platform_audit_log FOR EACH STATEMENT EXECUTE FUNCTION control.platform_audit_log_reject_mutation();


--
-- Name: platform_audit_log platform_audit_log_reject_update_delete_trigger; Type: TRIGGER; Schema: control; Owner: ulwembu
--

CREATE TRIGGER platform_audit_log_reject_update_delete_trigger BEFORE DELETE OR UPDATE ON control.platform_audit_log FOR EACH ROW EXECUTE FUNCTION control.platform_audit_log_reject_mutation();


--
-- Name: audit_log audit_log_before_insert_trigger; Type: TRIGGER; Schema: demo_clinic; Owner: ulwembu
--

CREATE TRIGGER audit_log_before_insert_trigger BEFORE INSERT ON demo_clinic.audit_log FOR EACH ROW EXECUTE FUNCTION demo_clinic.audit_log_before_insert();


--
-- Name: audit_log audit_log_reject_truncate_trigger; Type: TRIGGER; Schema: demo_clinic; Owner: ulwembu
--

CREATE TRIGGER audit_log_reject_truncate_trigger BEFORE TRUNCATE ON demo_clinic.audit_log FOR EACH STATEMENT EXECUTE FUNCTION demo_clinic.audit_log_reject_mutation();


--
-- Name: audit_log audit_log_reject_update_delete_trigger; Type: TRIGGER; Schema: demo_clinic; Owner: ulwembu
--

CREATE TRIGGER audit_log_reject_update_delete_trigger BEFORE DELETE OR UPDATE ON demo_clinic.audit_log FOR EACH ROW EXECUTE FUNCTION demo_clinic.audit_log_reject_mutation();


--
-- Name: module_entitlements module_entitlements_organization_id_fkey; Type: FK CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.module_entitlements
    ADD CONSTRAINT module_entitlements_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES control.organizations(id);


--
-- Name: platform_audit_log platform_audit_log_organization_id_fkey; Type: FK CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.platform_audit_log
    ADD CONSTRAINT platform_audit_log_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES control.organizations(id);


--
-- Name: platform_audit_log platform_audit_log_platform_operator_id_fkey; Type: FK CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.platform_audit_log
    ADD CONSTRAINT platform_audit_log_platform_operator_id_fkey FOREIGN KEY (platform_operator_id) REFERENCES control.platform_operators(id);


--
-- Name: platform_password_reset_tokens platform_password_reset_tokens_operator_id_fkey; Type: FK CONSTRAINT; Schema: control; Owner: ulwembu
--

ALTER TABLE ONLY control.platform_password_reset_tokens
    ADD CONSTRAINT platform_password_reset_tokens_operator_id_fkey FOREIGN KEY (operator_id) REFERENCES control.platform_operators(id);


--
-- Name: audit_log audit_log_facility_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.audit_log
    ADD CONSTRAINT audit_log_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES demo_clinic.facilities(id);


--
-- Name: audit_log audit_log_user_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.audit_log
    ADD CONSTRAINT audit_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES demo_clinic.users(id);


--
-- Name: dispensing_records dispensing_records_prescription_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.dispensing_records
    ADD CONSTRAINT dispensing_records_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES demo_clinic.prescriptions(id);


--
-- Name: dispensing_records fk_dispensing_records_patient; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.dispensing_records
    ADD CONSTRAINT fk_dispensing_records_patient FOREIGN KEY (patient_id) REFERENCES demo_clinic.patients(id);


--
-- Name: manual_verification_cases manual_verification_cases_patient_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.manual_verification_cases
    ADD CONSTRAINT manual_verification_cases_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES demo_clinic.patients(id);


--
-- Name: manual_verification_cases manual_verification_cases_prescription_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.manual_verification_cases
    ADD CONSTRAINT manual_verification_cases_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES demo_clinic.prescriptions(id);


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES demo_clinic.users(id) ON DELETE CASCADE;


--
-- Name: patient_next_of_kin patient_next_of_kin_patient_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.patient_next_of_kin
    ADD CONSTRAINT patient_next_of_kin_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES demo_clinic.patients(id);


--
-- Name: prescription_items prescription_items_prescription_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.prescription_items
    ADD CONSTRAINT prescription_items_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES demo_clinic.prescriptions(id);


--
-- Name: prescriptions prescriptions_facility_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.prescriptions
    ADD CONSTRAINT prescriptions_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES demo_clinic.facilities(id);


--
-- Name: prescriptions prescriptions_patient_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.prescriptions
    ADD CONSTRAINT prescriptions_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES demo_clinic.patients(id);


--
-- Name: prescriptions prescriptions_visit_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.prescriptions
    ADD CONSTRAINT prescriptions_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES demo_clinic.visits(id);


--
-- Name: queue_tokens queue_tokens_facility_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.queue_tokens
    ADD CONSTRAINT queue_tokens_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES demo_clinic.facilities(id);


--
-- Name: queue_tokens queue_tokens_visit_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.queue_tokens
    ADD CONSTRAINT queue_tokens_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES demo_clinic.visits(id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES demo_clinic.permissions(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES demo_clinic.roles(id) ON DELETE CASCADE;


--
-- Name: stock_batches stock_batches_facility_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_batches
    ADD CONSTRAINT stock_batches_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES demo_clinic.facilities(id);


--
-- Name: stock_movement_ledger stock_movement_ledger_facility_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_movement_ledger
    ADD CONSTRAINT stock_movement_ledger_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES demo_clinic.facilities(id);


--
-- Name: stock_movement_ledger stock_movement_ledger_prescription_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_movement_ledger
    ADD CONSTRAINT stock_movement_ledger_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES demo_clinic.prescriptions(id);


--
-- Name: stock_movement_ledger stock_movement_ledger_stock_batch_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_movement_ledger
    ADD CONSTRAINT stock_movement_ledger_stock_batch_id_fkey FOREIGN KEY (stock_batch_id) REFERENCES demo_clinic.stock_batches(id);


--
-- Name: stock_movements stock_movements_patient_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_movements
    ADD CONSTRAINT stock_movements_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES demo_clinic.patients(id);


--
-- Name: stock_movements stock_movements_prescription_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.stock_movements
    ADD CONSTRAINT stock_movements_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES demo_clinic.prescriptions(id);


--
-- Name: triage_assessments triage_assessments_patient_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.triage_assessments
    ADD CONSTRAINT triage_assessments_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES demo_clinic.patients(id);


--
-- Name: triage_assessments triage_assessments_visit_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.triage_assessments
    ADD CONSTRAINT triage_assessments_visit_id_fkey FOREIGN KEY (visit_id) REFERENCES demo_clinic.visits(id);


--
-- Name: user_compliance_details user_compliance_details_user_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.user_compliance_details
    ADD CONSTRAINT user_compliance_details_user_id_fkey FOREIGN KEY (user_id) REFERENCES demo_clinic.users(id) ON DELETE CASCADE;


--
-- Name: user_facilities user_facilities_facility_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.user_facilities
    ADD CONSTRAINT user_facilities_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES demo_clinic.facilities(id) ON DELETE CASCADE;


--
-- Name: user_facilities user_facilities_user_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.user_facilities
    ADD CONSTRAINT user_facilities_user_id_fkey FOREIGN KEY (user_id) REFERENCES demo_clinic.users(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_facility_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.user_roles
    ADD CONSTRAINT user_roles_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES demo_clinic.facilities(id);


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES demo_clinic.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES demo_clinic.users(id) ON DELETE CASCADE;


--
-- Name: users users_facility_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES demo_clinic.facilities(id);


--
-- Name: users users_manager_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.users
    ADD CONSTRAINT users_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES demo_clinic.users(id) ON DELETE SET NULL;


--
-- Name: visits visits_facility_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.visits
    ADD CONSTRAINT visits_facility_id_fkey FOREIGN KEY (facility_id) REFERENCES demo_clinic.facilities(id);


--
-- Name: visits visits_patient_id_fkey; Type: FK CONSTRAINT; Schema: demo_clinic; Owner: ulwembu
--

ALTER TABLE ONLY demo_clinic.visits
    ADD CONSTRAINT visits_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES demo_clinic.patients(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Ti5oyUkSeyVhBdQJtV0ml0Zgza20bWadnmINYfF0f7gv5nKXX2CMoqTfemg3FxG

